.started{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: #363636;
}
.title p{
    width: 60%;
    color: #8D93AB;
}
.btn1 button{
    margin-top: 10px;
    padding: 10px 50px;
    background-color: #9BA3EB;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}