@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login-container {
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.logo {
    font-size: 20px;
    color: #9BA3EB;
    margin-bottom: 1rem;
}
.welcome {
    font-size: 24px;
    margin: 0.5rem 0;
    color: #B9B8FA;
    text-align: center;
}
.subtitle {
    color: #B9B8FA;
    margin-bottom: 1.5rem;
    font-size: 16px;
    text-align: center;
}
  
  /* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.input-field {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    font-size: 1rem;
    background-color: white;
}
.password-field {
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  /* Login Button */
.login-button {
    font-family: "Roboto", sans-serif;
    background-color: #646FD4;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #D9D9D9;
}
  .login-button:hover {
    background-color: #584bd6;
}

  /* Divider */
.divider {
    margin: 1.5rem 0;
    position: relative;
    color: #B0B0B0;
    font-size: 0.9rem;
}
.divider span {
    background-color: #fff;
    padding: 0 0.5rem;
}
.divider:before,
.divider:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 1px;
    background-color: #ddd;
}
.divider:before {
    left: 0;
}
.divider:after {
    right: 0;
}
.divider span {
    color: #888888;
    margin-left: 160px;
    font-size: 12px;
}
  
  /* Social Buttons */
.social-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.social-btn {
    
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.social-btn img{
    margin-right: 20px;
}
.goo{
    font-family: "Roboto", sans-serif;
    color :#888888;
    font-size: 14px;
}
.face{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}
.google {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
}
.facebook {
    background-color: #4267B2;
    color: #fff;
}
.google:hover {
    background-color: #e0e0e0;
}
.facebook:hover {
    background-color: #145db0;
}
  
  /* Register Text */
.register {
    margin-top: 1rem;
    font-size: 13px;
    color: #888888;
    text-align: center;
} 
.register-link {
    color: #646FD4;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
  